<body>
  <div class="col-md-6 mt-5 mx-auto">
    <div class="container2">
      <div class="container">
        <div class="ui-widget">
          <form>
            <label class="otsikko" for="searchText">Hae sanaa</label>
            <input
              id="hakukentta"
              [(ngModel)]="searchText"
              type="text"
              name="searchText"
            />
          </form>
        </div>
      </div>
      <div class="container">
        <table class="table">
          <thead>
            <th>Suomi</th>
            <th>Englanti</th>
          </thead>

          <tbody>
            <tr *ngFor="let sana of sanaService.sanat | filter: searchText">
              <td>{{ sana.suomi }}</td>
              <td>{{ sana.englanti }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
