* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(../../bg.jpg);
  background-size: 100%;
  background-color: black;
  background-repeat: repeat-y;
  height: 100%;
  width: 100vw;
}
.otsikko {
  color: white;
  padding-top: 20px;
  float: left;
}
tr {
  border-top: 3px solid #4caf50;
  color: white;
  font-size: 20px;
}

th {
  border-top: none;
  font-size: 25px;
  color: white;
}
td {
  color: white;
}
